.gantt_Housing
  height: 80%
  border: 1px solid black
  overflow: scroll

.gantt_Chart
  display: flex
  justify-content: space-around
  position: relative
  height: 75%
  width: 75%
  left: 12.5%
  top: 12.5%
  overflow: hidden

.ganttDayDisplay
  position: relative
  display: flex
  align-items: flex-start
  top: 0px
  height: 100%

.taskDiv
  position: absolute
  left: 0px
  height: 50px
  display: flex
  align-items: center
  justify-content: center

.ganttDayDisplayLabel
  position: relative
  top: 20px
  border: 1px solid red
  transform: rotate(90deg)

.taskDivLabel
  position: relative

#addTask
  position: absolute
  top: 700px
  left: 50px
