.window
  position: absolute
  height: 80%
  width: 95vw
  border: 1px solid black
  overflow: hidden

.gantt_Housing
  position: absolute
  width: 80%
  height: 100%
  left: 20%
  display: flex
  justify-content: space-around
  align-items: center

.addTaskDiv
  position: absolute
  display: flex
  border-right: 3px solid black
  top: 0px
  height: 100%
  width: 20%
  background-color: #aaa
  .label
    position: absolute
    left: 20px
  #taskNameAddLabel
    top: 10%
  #durationAddLabel
    top: 30%
  #startDateAddLabel
    top: 50%
  #endDateAddLabel
    top: 70%
  #submitTask
    position: absolute
    top: 90%

.gantt_Chart
  display: flex
  justify-content: space-around
  position: relative
  //height: 80%
  width: 90%
  height: 90%
  overflow: hidden

.ganttDayDisplay
  position: relative
  display: flex
  align-items: flex-start
  top: 0px
  height: 100%

.taskDiv
  position: absolute
  left: 0px
  height: 50px
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  overflow: hidden
  &.select
    box-shadow: 0px 0px 5px 2px gold
  &.active
    box-shadow: 0px 0px 5px 2px #2BDD3C
  .taskDivChild
    position: absolute
    height: 100%
.ganttDayDisplayLabel
  position: relative
  top: 20px
  border: 1px solid red
  transform: rotate(90deg)

.taskDivLabel
  position: relative

//.taskDiv
  overflow: hidden
  .taskDivChild
    position: absolute
    height: 100%
