.addDependencyPopUp
  form(id ='addDependencyPopUp' class = 'smPopUp')
    button(id = 'addDependencyConfirm' class = 'confirmBtn') Accept
    button(id = 'addDependencyCancel' class = 'cancelBtn') Cancel
