.addDependencyPopUp(id = 'addDependencyPopUp' class = 'hide')
  form(id ='addDependencyPopUp' class = 'smPopUp')
    button(id = 'addDependencyConfirm' class = 'confirmBtn Btn') Accept
    button(id = 'addDependencyCancel' class = 'cancelBtn Btn') Cancel
