html 
  head
    link(rel="stylesheet" type="text/css" href="../css/main.css")
  body
    .gantt_Housing(id = 'gantt_Housing')
      .gantt_Chart(id = 'gantt_Chart')
  script(src = '../build/projectHome.js')
