div(id = 'taskEditPopUp' class = 'popUp hide')
  form
    label(id = 'nameLabel' class = 'popUpLabel') Name:
      input(id = 'namePopUp' class = 'popUpField' defaultValue = '' type = 'textBox')
    label(id = 'targetDurationLabel' class = 'popUpLabel') Target Duration:
      p(id = 'targetDurationPopUp' class = 'popUpField')
    label(id = 'trueDurationLabel' class = 'popUpLabel') True Duration:
      p(id = 'trueDurationPopUp' class = 'popUpField')
    label(id = 'delayLabel' class = 'popUpLabel') Delay:
      input(id = 'delayPopUp' class = 'popUpField' defaultValue = '' type = 'textBox')
    label(id = 'startDateLabel' class = 'popUpLabel') Start Date:
      input(id = 'startDatePopUp' class = 'popUpField' defaultValue = '' type = 'date')
    label(id = 'targetEndDateLabel' class = 'popUpLabel') Target End:
      input(id = 'targetEndDatePopUp' class = 'popUpField' defaultValue = '' type = 'date')
    label(id = 'trueEndDateLabel' class = 'popUpLabel') Projected End:
      p(id = 'trueEndDatePopUp' class = 'popUpField' defaultValue = '' type = 'date')
    label(id = 'dependencyListLabel') Dependency List
    .dependencyList
      ul(id = 'dependencyUL' class = 'popUpUL')
    button(id = 'addDependencyBtn' class = 'popUpButton') Add Dependency
    button(id = 'popUpSubmitBtn' class = 'popUpButton') Submit
